* {
  margin: 0;
  padding: 0;
}

.head_container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  width: 72%;
  margin-top: 40px;
  margin-left: auto;
}

.head_item {
  margin-left: 120px;
}
